<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Bem vindo!</mat-card-title>
    <mat-card-subtitle class="subtitle"> 
        Sistema para exemplificar a construção de um cadastro em Angular.

    </mat-card-subtitle>
</mat-card>
<br>
<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Inforçoes!!!!</mat-card-title>
    <mat-card-subtitle class="subtitle"> 
        
        1) ativa o back-end com o comando: nmp start <br>
        2) inicia o serve na pasta app usar o comando: ng serve <br>
        3)Para Começa mexer no projeto click em produtos.

        
    </mat-card-subtitle>
</mat-card>
